
h1 {
  font-family: 'PT Sans Caption', sans-serif;
  color: #153243;
  font-size: 36;
}

h2 {
  font-family: 'Ubuntu', sans-serif;
  color: #987284;
  margin-bottom: 35px;
  font-size: 26px;
}
body {
  background-color: #fbfaff;
  font-family: 'Mukta', sans-serif;
  font-weight: 300; /* if you want the light version */
  font-size: 15px;
  color: #272727
}

p {
  font-family: 'Mulish', sans-serif;
  font-weight: 300; /* if you want the light version */
  color: #272727
}

a {
  color: #B4B8AB
}

.list-inline a:hover {
  color: #7D82B8;
 }

.container {
  width: 640px;   /* This sets the width */
  margin: 0 auto; /* This automatically sets left/right margins */
}

.card {
  margin: 12px;
  background: rgb(255 255 255);
  padding: 40px;
  border: 0px solid lightgrey;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0px 10px 30px rgb(0 0 0 / 10%);
}

.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
  size: 100px;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
}

.img-circle {
  border-radius: 50%;
}

.btn-blue {
  background-color: #7d82b8f7;
  color: white;
  padding: 15px 20px;
  border-radius: 4px;
}

#introduction p {
  margin-bottom: 40px;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}

@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}
